@charset "utf-8";
/* M22W0B03 佐久間美緒 */

body {
  font-size: 20px;
  font-family: serif;
  color: rgb(0, 0, 139);
  background-image: url(../img/mono_blue3.gif);
  background-repeat: repeat;
}

h1 {
  font-family: sans-serif;
  color: #0f0cc5;
}

h2 {
  font-family: sans-serif;
  color: #8d0ae4;
}

span {
  text-decoration: underline;
}

ul {
  list-style-type: circle;
}

dt {
  color: #0084ff;
}

img {
  width: 300px;
  border: 5px solid #83d9eeab;
}